@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Onest:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Onest";
  line-height: 1.2;
}

main {
  flex: 1 1 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 75em) {
  .h1 {
    font-size: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .h1 {
      font-size: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
    }
  }
  @supports not (font-size: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .h1 {
      font-size: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 75em) {
  .h2 {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .h2 {
      font-size: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .h2 {
      font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .h2 {
    font-size: 1.875rem;
  }
}

@media (min-width: 75em) {
  .h3 {
    font-size: 2.875rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.4375rem , 0.9147727273rem  +  2.6136363636vw , 2.875rem )) {
    .h3 {
      font-size: clamp( 1.4375rem , 0.9147727273rem  +  2.6136363636vw , 2.875rem );
    }
  }
  @supports not (font-size: clamp( 1.4375rem , 0.9147727273rem  +  2.6136363636vw , 2.875rem )) {
    .h3 {
      font-size: calc(1.4375rem + 1.4375 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .h3 {
    font-size: 1.4375rem;
  }
}

@media (min-width: 75em) {
  .h4 {
    font-size: 2.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.25rem , 0.9318181818rem  +  1.5909090909vw , 2.125rem )) {
    .h4 {
      font-size: clamp( 1.25rem , 0.9318181818rem  +  1.5909090909vw , 2.125rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 0.9318181818rem  +  1.5909090909vw , 2.125rem )) {
    .h4 {
      font-size: calc(1.25rem + 0.875 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .h4 {
    font-size: 1.25rem;
  }
}

@media (min-width: 75em) {
  .h5 {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .h5 {
      font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .h5 {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .h5 {
    font-size: 1.125rem;
  }
}

@media (min-width: 75em) {
  .h6 {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
    .h6 {
      font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
    .h6 {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .h6 {
    font-size: 0.875rem;
  }
}

.p1 {
  font-family: "Ubuntu";
}
@media (min-width: 75em) {
  .p1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem )) {
    .p1 {
      font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem )) {
    .p1 {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .p1 {
    font-size: 1.25rem;
  }
}

.p2 {
  font-family: "Ubuntu";
}
@media (min-width: 75em) {
  .p2 {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
    .p2 {
      font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
    .p2 {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .p2 {
    font-size: 0.875rem;
  }
}

.p3 {
  font-family: "Ubuntu";
}
@media (min-width: 75em) {
  .p3 {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem )) {
    .p3 {
      font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem )) {
    .p3 {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .p3 {
    font-size: 0.75rem;
  }
}

.container {
  max-width: 1660px;
  padding: 0 15px;
  margin: 0px auto;
}

@media (min-width: 75em) {
  .block {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
    .block {
      padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
    .block {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .block {
    padding-bottom: 3.125rem;
  }
}

@media (any-hover: hover) {
  .swiper-button-disabled:hover {
    background-color: inherit;
  }
}

.button-main {
  padding: 0px 40px;
  background-color: #6096DE;
  color: #fff;
  transition: all 0.3s ease 0s;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
@media (min-width: 75em) {
  .button-main {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
    .button-main {
      font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
    .button-main {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .button-main {
    font-size: 0.875rem;
  }
}
@media (max-width: 71.875em) {
  .button-main {
    padding: 0px 30px;
  }
}
@media (max-width: 767.98px) {
  .button-main {
    padding: 0px 25px;
  }
}
@media (max-width: 480.98px) {
  .button-main {
    padding: 0px 20px;
  }
}
@media (any-hover: hover) {
  .button-main:hover {
    background-color: #0D2362;
  }
}
.button-main.inversed {
  background-color: #fff;
  color: #6096DE;
}
@media (any-hover: hover) {
  .button-main.inversed:hover {
    background-color: #E8EBF2;
  }
}
.button-main.bordered {
  background-color: #fff;
  color: #6096DE;
  border: 1px solid #6096DE;
}
@media (any-hover: hover) {
  .button-main.bordered:hover {
    background-color: #6096DE;
    color: #fff;
  }
}

.swiper-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.swiper-pagination-custom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  opacity: 1;
  margin: 0 !important;
  transition: all 0.3s ease 0s;
}

.swiper-pagination-bullet-active {
  background-color: #6096DE;
}

.swiper-btn {
  height: 15px;
}
@media (any-hover: hover) {
  .swiper-btn:hover svg path {
    transition: all 0.3s ease 0s;
    fill: #6096DE;
  }
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 75em) {
  .block-title {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .block-title {
      margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .block-title {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .block-title {
    margin-bottom: 1.25rem;
  }
}
.block-title span {
  color: #6096DE;
}

.modal {
  display: none;
  max-width: 540px;
  position: relative;
}
.modal .privacy-policy {
  max-width: 100%;
}
.modal button {
  width: 100%;
}

.fancybox__content {
  border-radius: 3px;
  color: #464D58;
}
@media (min-width: 75em) {
  .fancybox__content {
    padding: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .fancybox__content {
      padding: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
  }
  @supports not (padding: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .fancybox__content {
      padding: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .fancybox__content {
    padding: 1.25rem;
  }
}
@media (min-width: 75em) {
  .fancybox__content {
    padding-top: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-top: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem )) {
    .fancybox__content {
      padding-top: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem )) {
    .fancybox__content {
      padding-top: calc(2.5rem + 0 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .fancybox__content {
    padding-top: 2.5rem;
  }
}
.fancybox__content input {
  border-color: #DDC5B1;
  color: #464D58;
  width: 100%;
}
.fancybox__content input::-moz-placeholder {
  color: #464D58;
}
.fancybox__content input::placeholder {
  color: #464D58;
}
.fancybox__content input:focus {
  color: #6096DE;
  border: 1px solid #6096DE;
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modal__title {
  color: #000;
  text-align: center;
}
@media (min-width: 75em) {
  .modal__title {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .modal__title {
      margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .modal__title {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .modal__title {
    margin-bottom: 1.25rem;
  }
}

.modal__text {
  color: #000;
  margin-bottom: 20px;
}

.fancybox__backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #EDE0D5;
}
.body-header {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 120em) {
  .body-header {
    gap: 4.375rem;
  }
}
@media (min-width: 61.9375em) and (max-width: 120em) {
  @supports (gap: clamp( 0.9375rem , -2.7294133477rem  +  5.9203444564vw , 4.375rem )) {
    .body-header {
      gap: clamp( 0.9375rem , -2.7294133477rem  +  5.9203444564vw , 4.375rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , -2.7294133477rem  +  5.9203444564vw , 4.375rem )) {
    .body-header {
      gap: calc(0.9375rem + 3.4375 * (100vw - 61.9375rem) / 58.0625);
    }
  }
}
@media (max-width: 480.98px) {
  .body-header {
    padding: 10px 0;
  }
}
@media (max-width: 991.98px) {
  .body-header {
    gap: 15px;
  }
}
@media (max-width: 68.75em) and (min-width: 56.25em) {
  .body-header {
    justify-content: space-between;
  }
}
@media (max-width: 56.25em) {
  .body-header__logo {
    flex: 1 1 auto;
  }
}
@media (max-width: 480.98px) {
  .body-header__logo img {
    width: 7.8125rem;
  }
}
.body-header__city {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #464D58;
  flex: 1 1 auto;
}
@media (max-width: 68.75em) {
  .body-header__city {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
@media (max-width: 56.25em) {
  .body-header__nav {
    display: none;
  }
}
.body-header__list {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}
@media (min-width: 120em) {
  .body-header__list {
    gap: 1.875rem;
  }
}
@media (min-width: 47.9375em) and (max-width: 120em) {
  @supports (gap: clamp( 0.9375rem , 0.3138551605rem  +  1.300954033vw , 1.875rem )) {
    .body-header__list {
      gap: clamp( 0.9375rem , 0.3138551605rem  +  1.300954033vw , 1.875rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , 0.3138551605rem  +  1.300954033vw , 1.875rem )) {
    .body-header__list {
      gap: calc(0.9375rem + 0.9375 * (100vw - 47.9375rem) / 72.0625);
    }
  }
}
.body-header__link {
  color: #464D58;
  transition: all 0.1s ease 0s;
  font-weight: 500;
}
@media (min-width: 120em) {
  .body-header__link {
    font-size: 0.875rem;
  }
}
@media (min-width: 47.9375em) and (max-width: 120em) {
  @supports (font-size: clamp( 0.75rem , 0.6668473547rem  +  0.1734605377vw , 0.875rem )) {
    .body-header__link {
      font-size: clamp( 0.75rem , 0.6668473547rem  +  0.1734605377vw , 0.875rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.6668473547rem  +  0.1734605377vw , 0.875rem )) {
    .body-header__link {
      font-size: calc(0.75rem + 0.125 * (100vw - 47.9375rem) / 72.0625);
    }
  }
}
@media (any-hover: hover) {
  .body-header__link:hover {
    color: #AAC4E7;
  }
}
.body-header__phone {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #18212E;
  font-weight: 500;
}
.body-header__phone a {
  transition: all 0.1s ease 0s;
}
@media (min-width: 120em) {
  .body-header__phone a {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (font-size: clamp( 0.8125rem , 0.675rem  +  0.6875vw , 1.5rem )) {
    .body-header__phone a {
      font-size: clamp( 0.8125rem , 0.675rem  +  0.6875vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 0.8125rem , 0.675rem  +  0.6875vw , 1.5rem )) {
    .body-header__phone a {
      font-size: calc(0.8125rem + 0.6875 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .body-header__phone a {
    font-size: 0.8125rem;
  }
}
.body-header__phone a:not(:last-child) {
  margin-bottom: 0.3125rem;
}
@media (any-hover: hover) {
  .body-header__phone a:hover {
    color: #AAC4E7;
  }
}
.body-header__phone button {
  text-decoration: underline;
}
@media (any-hover: hover) {
  .body-header__phone button:hover {
    text-decoration: none;
  }
}

@media (min-width: 56.3125em) {
  .menu {
    display: none;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 56.25em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 6;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #6096DE;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    background-color: #fff;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.menu__body {
  z-index: 5;
  position: relative;
  display: none;
  padding-top: 90px;
}
.menu__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5.625rem;
  width: 100%;
  background-color: #6096DE;
}
@media (max-width: 56.25em) {
  .menu__body {
    position: fixed;
    width: 80%;
    height: 100%;
    top: 0;
    left: 100%;
    display: flex;
    text-align: right;
    justify-content: center;
    flex-direction: column;
    background-color: #6096DE;
    transition: left 0.3s ease 0s;
  }
  .menu-open .menu__body {
    left: 20%;
  }
}
.menu__list {
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 15px;
}
@media (min-width: 20em) and (max-width: 61.9375em) {
  @supports (gap: clamp( 1.5625rem , 1.4134687034rem  +  0.7451564829vw , 1.875rem )) {
    .menu__list {
      gap: clamp( 1.5625rem , 1.4134687034rem  +  0.7451564829vw , 1.875rem );
    }
  }
  @supports not (gap: clamp( 1.5625rem , 1.4134687034rem  +  0.7451564829vw , 1.875rem )) {
    .menu__list {
      gap: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 41.9375);
    }
  }
}
@media (max-width: 20em) {
  .menu__list {
    gap: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 61.9375em) {
  @supports (font-size: clamp( 1.125rem , 1.0057749627rem  +  0.5961251863vw , 1.375rem )) {
    .menu__list {
      font-size: clamp( 1.125rem , 1.0057749627rem  +  0.5961251863vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0057749627rem  +  0.5961251863vw , 1.375rem )) {
    .menu__list {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 41.9375);
    }
  }
}
@media (max-width: 20em) {
  .menu__list {
    font-size: 1.125rem;
  }
}

.footer {
  background-color: #fff;
}

.body-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
@media (min-width: 75em) {
  .body-footer {
    padding-top: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .body-footer {
      padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .body-footer {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-footer {
    padding-top: 1.875rem;
  }
}
@media (min-width: 75em) {
  .body-footer {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .body-footer {
      padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .body-footer {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-footer {
    padding-bottom: 1.875rem;
  }
}
@media (max-width: 480.98px) {
  .body-footer {
    justify-content: center;
  }
}
.body-footer__logo {
  font-weight: 500;
  color: #6096DE;
}
@media (min-width: 75em) {
  .body-footer__logo {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
    .body-footer__logo {
      font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
    .body-footer__logo {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-footer__logo {
    font-size: 1.125rem;
  }
}
.body-footer__contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 75em) {
  .body-footer__contacts {
    gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .body-footer__contacts {
      gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .body-footer__contacts {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-footer__contacts {
    gap: 0.9375rem;
  }
}
.body-footer__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 75em) {
  .body-footer__socials {
    gap: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .body-footer__socials {
      gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .body-footer__socials {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-footer__socials {
    gap: 0.625rem;
  }
}

.bottom-footer {
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #464D58;
}
@media (max-width: 991.98px) {
  .bottom-footer {
    flex-direction: column;
    gap: 20px;
  }
}
.bottom-footer__policy a {
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration: underline;
}
.bottom-footer__grampus a {
  font-family: Raleway;
  font-weight: 900;
  transition: all 0.3s ease 0s;
}
@media (min-width: 75em) {
  .bottom-footer__grampus a {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem )) {
    .bottom-footer__grampus a {
      font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem )) {
    .bottom-footer__grampus a {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .bottom-footer__grampus a {
    font-size: 1.125rem;
  }
}
@media (min-width: 75em) {
  .bottom-footer__grampus a {
    margin-left: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (margin-left: clamp( 0.5625rem , 0.3579545455rem  +  1.0227272727vw , 1.125rem )) {
    .bottom-footer__grampus a {
      margin-left: clamp( 0.5625rem , 0.3579545455rem  +  1.0227272727vw , 1.125rem );
    }
  }
  @supports not (margin-left: clamp( 0.5625rem , 0.3579545455rem  +  1.0227272727vw , 1.125rem )) {
    .bottom-footer__grampus a {
      margin-left: calc(0.5625rem + 0.5625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .bottom-footer__grampus a {
    margin-left: 0.5625rem;
  }
}
@media (any-hover: hover) {
  .bottom-footer__grampus a:hover {
    color: #6096DE;
  }
}