@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Onest:regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:900&display=swap);
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Sweet Mavka Script";
  src: url("../fonts/Sweet Mavka Script.ttf");
}
body {
  font-family: "Onest";
  line-height: 1.2;
}

main {
  flex: 1 1 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 120em) {
  .h1 {
    font-size: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (font-size: clamp( 2.5rem , 2rem  +  2.5vw , 5rem )) {
    .h1 {
      font-size: clamp( 2.5rem , 2rem  +  2.5vw , 5rem );
    }
  }
  @supports not (font-size: clamp( 2.5rem , 2rem  +  2.5vw , 5rem )) {
    .h1 {
      font-size: calc(2.5rem + 2.5 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 120em) {
  .h2 {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (font-size: clamp( 1.875rem , 1.5rem  +  1.875vw , 3.75rem )) {
    .h2 {
      font-size: clamp( 1.875rem , 1.5rem  +  1.875vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.5rem  +  1.875vw , 3.75rem )) {
    .h2 {
      font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .h2 {
    font-size: 1.875rem;
  }
}

@media (min-width: 120em) {
  .h3 {
    font-size: 2.875rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (font-size: clamp( 1.4375rem , 1.15rem  +  1.4375vw , 2.875rem )) {
    .h3 {
      font-size: clamp( 1.4375rem , 1.15rem  +  1.4375vw , 2.875rem );
    }
  }
  @supports not (font-size: clamp( 1.4375rem , 1.15rem  +  1.4375vw , 2.875rem )) {
    .h3 {
      font-size: calc(1.4375rem + 1.4375 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .h3 {
    font-size: 1.4375rem;
  }
}

@media (min-width: 120em) {
  .h4 {
    font-size: 2.125rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (font-size: clamp( 1.25rem , 1.075rem  +  0.875vw , 2.125rem )) {
    .h4 {
      font-size: clamp( 1.25rem , 1.075rem  +  0.875vw , 2.125rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.075rem  +  0.875vw , 2.125rem )) {
    .h4 {
      font-size: calc(1.25rem + 0.875 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .h4 {
    font-size: 1.25rem;
  }
}

@media (min-width: 120em) {
  .h5 {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (font-size: clamp( 1.125rem , 1.05rem  +  0.375vw , 1.5rem )) {
    .h5 {
      font-size: clamp( 1.125rem , 1.05rem  +  0.375vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.05rem  +  0.375vw , 1.5rem )) {
    .h5 {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .h5 {
    font-size: 1.125rem;
  }
}

@media (min-width: 120em) {
  .h6 {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (font-size: clamp( 0.875rem , 0.85rem  +  0.125vw , 1rem )) {
    .h6 {
      font-size: clamp( 0.875rem , 0.85rem  +  0.125vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.85rem  +  0.125vw , 1rem )) {
    .h6 {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .h6 {
    font-size: 0.875rem;
  }
}

.p1 {
  font-family: "Ubuntu";
}
@media (min-width: 120em) {
  .p1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (font-size: clamp( 1.25rem , 1.2rem  +  0.25vw , 1.5rem )) {
    .p1 {
      font-size: clamp( 1.25rem , 1.2rem  +  0.25vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.2rem  +  0.25vw , 1.5rem )) {
    .p1 {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .p1 {
    font-size: 1.25rem;
  }
}

.p2 {
  font-family: "Ubuntu";
}
@media (min-width: 120em) {
  .p2 {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (font-size: clamp( 0.875rem , 0.85rem  +  0.125vw , 1rem )) {
    .p2 {
      font-size: clamp( 0.875rem , 0.85rem  +  0.125vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.85rem  +  0.125vw , 1rem )) {
    .p2 {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .p2 {
    font-size: 0.875rem;
  }
}

.p3 {
  font-family: "Ubuntu";
}
@media (min-width: 120em) {
  .p3 {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (font-size: clamp( 0.75rem , 0.725rem  +  0.125vw , 0.875rem )) {
    .p3 {
      font-size: clamp( 0.75rem , 0.725rem  +  0.125vw , 0.875rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.725rem  +  0.125vw , 0.875rem )) {
    .p3 {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .p3 {
    font-size: 0.75rem;
  }
}

.container {
  max-width: 1660px;
  padding: 0 15px;
  margin: 0px auto;
}

@media (min-width: 75em) {
  .block {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
    .block {
      padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
    .block {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .block {
    padding-bottom: 3.125rem;
  }
}

.button-arrow {
  font-weight: 700;
  color: #18212E;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease 0s;
}
@media (min-width: 75em) {
  .button-arrow {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
    .button-arrow {
      font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
    .button-arrow {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .button-arrow {
    font-size: 0.875rem;
  }
}
.button-arrow svg path {
  stroke: #18212E;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button-arrow:hover {
    color: #AAC4E7;
    gap: 35px;
  }
  .button-arrow:hover svg path {
    stroke: #AAC4E7;
  }
}

.button-main {
  padding: 0px 35px;
  background-color: #6096DE;
  color: #fff;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  font-family: "Ubuntu";
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 75em) {
  .button-main {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem )) {
    .button-main {
      font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem )) {
    .button-main {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .button-main {
    font-size: 0.75rem;
  }
}
@media (max-width: 71.875em) {
  .button-main {
    padding: 0px 30px;
  }
}
@media (max-width: 767.98px) {
  .button-main {
    padding: 0px 25px;
  }
}
@media (max-width: 480.98px) {
  .button-main {
    padding: 0px 20px;
  }
}
@media (any-hover: hover) {
  .button-main:hover {
    background-color: #AAC4E7;
  }
}
.button-main.bordered {
  background-color: #fff;
  color: #6096DE;
  border: 1px solid #6096DE;
}
@media (any-hover: hover) {
  .button-main.bordered:hover {
    background-color: #6096DE;
    color: #fff;
  }
}

.swiper-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.swiper-pagination-custom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.swiper-pagination-bullets {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.swiper-pagination-bullet {
  height: 8px;
  width: 8px;
  opacity: 1;
  margin: 0 !important;
  transition: all 0.3s ease 0s;
  background-color: #EDE0D5;
}

.swiper-pagination-bullet-active {
  background-color: #C19570;
}

.swiper-btn-prev svg {
  transform: rotate(-180deg);
}

.swiper-btn {
  height: 55px;
  width: 55px;
  background-color: #C19570;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .swiper-btn:hover {
    background-color: #EDE0D5;
  }
}
@media (max-width: 75em) {
  .swiper-btn {
    height: 45px;
    width: 45px;
  }
}

.swiper-buttons {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.swiper-button-disabled {
  background-color: #EDE0D5;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.block-title {
  color: #18212E;
}
@media (min-width: 75em) {
  .block-title {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .block-title {
      font-size: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .block-title {
      font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .block-title {
    font-size: 1.875rem;
  }
}

.modal {
  display: none;
  max-width: 540px;
  position: relative;
}
.modal .privacy-policy {
  max-width: 100%;
}
.modal button {
  width: 100%;
}

.fancybox__content {
  border-radius: 3px;
  color: #464D58;
}
@media (min-width: 75em) {
  .fancybox__content {
    padding: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .fancybox__content {
      padding: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
  }
  @supports not (padding: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .fancybox__content {
      padding: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .fancybox__content {
    padding: 1.25rem;
  }
}
@media (min-width: 75em) {
  .fancybox__content {
    padding-top: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-top: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem )) {
    .fancybox__content {
      padding-top: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem )) {
    .fancybox__content {
      padding-top: calc(2.5rem + 0 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .fancybox__content {
    padding-top: 2.5rem;
  }
}
.fancybox__content input {
  border-color: #DDC5B1;
  color: #464D58;
  width: 100%;
}
.fancybox__content input::-moz-placeholder {
  color: #464D58;
}
.fancybox__content input::placeholder {
  color: #464D58;
}
.fancybox__content input:focus {
  color: #6096DE;
  border: 1px solid #6096DE;
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modal__title {
  color: #000;
  text-align: center;
}
@media (min-width: 75em) {
  .modal__title {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .modal__title {
      margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .modal__title {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .modal__title {
    margin-bottom: 1.25rem;
  }
}

.modal__text {
  color: #000;
  margin-bottom: 20px;
}

.fancybox__backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.socials {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
  right: 40px;
  top: 50%;
  transform: translate(0px, -50%);
}
@media (max-width: 91.25em) {
  .socials {
    right: 15px;
    opacity: 0.7;
  }
}
@media (max-width: 991.98px) {
  .socials {
    display: none;
  }
}
.socials__item {
  height: 3.4375rem;
  width: 3.4375rem;
  border-radius: 50%;
  background-color: #6096DE;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease 0s;
}
@media (any-hover: hover) {
  .socials__item:hover {
    background-color: #AAC4E7;
  }
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #EDE0D5;
  background-color: #fff;
  z-index: 5;
}
.body-header {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 120em) {
  .body-header {
    gap: 4.375rem;
  }
}
@media (min-width: 61.9375em) and (max-width: 120em) {
  @supports (gap: clamp( 0.9375rem , -2.7294133477rem  +  5.9203444564vw , 4.375rem )) {
    .body-header {
      gap: clamp( 0.9375rem , -2.7294133477rem  +  5.9203444564vw , 4.375rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , -2.7294133477rem  +  5.9203444564vw , 4.375rem )) {
    .body-header {
      gap: calc(0.9375rem + 3.4375 * (100vw - 61.9375rem) / 58.0625);
    }
  }
}
@media (max-width: 480.98px) {
  .body-header {
    padding: 10px 0;
  }
}
@media (max-width: 991.98px) {
  .body-header {
    gap: 15px;
  }
}
@media (max-width: 68.75em) and (min-width: 56.25em) {
  .body-header {
    justify-content: space-between;
  }
}
@media (max-width: 56.25em) {
  .body-header__logo {
    flex: 1 1 auto;
  }
}
@media (max-width: 480.98px) {
  .body-header__logo img {
    width: 7.8125rem;
  }
}
.body-header__city {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #464D58;
  flex: 1 1 auto;
}
@media (max-width: 68.75em) {
  .body-header__city {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
@media (max-width: 56.25em) {
  .body-header__nav {
    display: none;
  }
}
.body-header__list {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}
@media (min-width: 120em) {
  .body-header__list {
    gap: 1.875rem;
  }
}
@media (min-width: 47.9375em) and (max-width: 120em) {
  @supports (gap: clamp( 0.9375rem , 0.3138551605rem  +  1.300954033vw , 1.875rem )) {
    .body-header__list {
      gap: clamp( 0.9375rem , 0.3138551605rem  +  1.300954033vw , 1.875rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , 0.3138551605rem  +  1.300954033vw , 1.875rem )) {
    .body-header__list {
      gap: calc(0.9375rem + 0.9375 * (100vw - 47.9375rem) / 72.0625);
    }
  }
}
.body-header__link {
  color: #464D58;
  transition: all 0.1s ease 0s;
  font-weight: 500;
}
@media (min-width: 120em) {
  .body-header__link {
    font-size: 0.875rem;
  }
}
@media (min-width: 47.9375em) and (max-width: 120em) {
  @supports (font-size: clamp( 0.75rem , 0.6668473547rem  +  0.1734605377vw , 0.875rem )) {
    .body-header__link {
      font-size: clamp( 0.75rem , 0.6668473547rem  +  0.1734605377vw , 0.875rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.6668473547rem  +  0.1734605377vw , 0.875rem )) {
    .body-header__link {
      font-size: calc(0.75rem + 0.125 * (100vw - 47.9375rem) / 72.0625);
    }
  }
}
@media (any-hover: hover) {
  .body-header__link:hover {
    color: #AAC4E7;
  }
}
.body-header__phone {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #18212E;
  font-weight: 500;
}
.body-header__phone a {
  transition: all 0.1s ease 0s;
}
@media (min-width: 120em) {
  .body-header__phone a {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (font-size: clamp( 0.8125rem , 0.675rem  +  0.6875vw , 1.5rem )) {
    .body-header__phone a {
      font-size: clamp( 0.8125rem , 0.675rem  +  0.6875vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 0.8125rem , 0.675rem  +  0.6875vw , 1.5rem )) {
    .body-header__phone a {
      font-size: calc(0.8125rem + 0.6875 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .body-header__phone a {
    font-size: 0.8125rem;
  }
}
.body-header__phone a:not(:last-child) {
  margin-bottom: 0.3125rem;
}
@media (any-hover: hover) {
  .body-header__phone a:hover {
    color: #AAC4E7;
  }
}
.body-header__phone button {
  text-decoration: underline;
}
@media (any-hover: hover) {
  .body-header__phone button:hover {
    text-decoration: none;
  }
}

@media (min-width: 56.3125em) {
  .menu {
    display: none;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 56.25em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 6;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #6096DE;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    background-color: #fff;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.menu__body {
  z-index: 5;
  position: relative;
  display: none;
  padding-top: 90px;
}
.menu__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5.625rem;
  width: 100%;
  background-color: #6096DE;
}
@media (max-width: 56.25em) {
  .menu__body {
    position: fixed;
    width: 80%;
    height: 100%;
    top: 0;
    left: 100%;
    display: flex;
    text-align: right;
    justify-content: center;
    flex-direction: column;
    background-color: #6096DE;
    transition: left 0.3s ease 0s;
  }
  .menu-open .menu__body {
    left: 20%;
  }
}
.menu__list {
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 15px;
}
@media (min-width: 20em) and (max-width: 61.9375em) {
  @supports (gap: clamp( 1.5625rem , 1.4134687034rem  +  0.7451564829vw , 1.875rem )) {
    .menu__list {
      gap: clamp( 1.5625rem , 1.4134687034rem  +  0.7451564829vw , 1.875rem );
    }
  }
  @supports not (gap: clamp( 1.5625rem , 1.4134687034rem  +  0.7451564829vw , 1.875rem )) {
    .menu__list {
      gap: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 41.9375);
    }
  }
}
@media (max-width: 20em) {
  .menu__list {
    gap: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 61.9375em) {
  @supports (font-size: clamp( 1.125rem , 1.0057749627rem  +  0.5961251863vw , 1.375rem )) {
    .menu__list {
      font-size: clamp( 1.125rem , 1.0057749627rem  +  0.5961251863vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0057749627rem  +  0.5961251863vw , 1.375rem )) {
    .menu__list {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 41.9375);
    }
  }
}
@media (max-width: 20em) {
  .menu__list {
    font-size: 1.125rem;
  }
}

.footer {
  background-color: #fff;
}

.body-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
@media (min-width: 75em) {
  .body-footer {
    padding-top: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .body-footer {
      padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .body-footer {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-footer {
    padding-top: 1.875rem;
  }
}
@media (min-width: 75em) {
  .body-footer {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .body-footer {
      padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .body-footer {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-footer {
    padding-bottom: 1.875rem;
  }
}
@media (max-width: 480.98px) {
  .body-footer {
    justify-content: center;
  }
}
.body-footer__logo {
  font-weight: 500;
  color: #6096DE;
}
@media (min-width: 75em) {
  .body-footer__logo {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
    .body-footer__logo {
      font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
    .body-footer__logo {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-footer__logo {
    font-size: 1.125rem;
  }
}
.body-footer__contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 75em) {
  .body-footer__contacts {
    gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .body-footer__contacts {
      gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .body-footer__contacts {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-footer__contacts {
    gap: 0.9375rem;
  }
}
.body-footer__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 75em) {
  .body-footer__socials {
    gap: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .body-footer__socials {
      gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .body-footer__socials {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-footer__socials {
    gap: 0.625rem;
  }
}

.bottom-footer {
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #464D58;
}
@media (max-width: 991.98px) {
  .bottom-footer {
    flex-direction: column;
    gap: 20px;
  }
}
.bottom-footer__policy a {
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration: underline;
}
.bottom-footer__grampus a {
  font-family: Raleway;
  font-weight: 900;
  transition: all 0.3s ease 0s;
}
@media (min-width: 75em) {
  .bottom-footer__grampus a {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem )) {
    .bottom-footer__grampus a {
      font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem )) {
    .bottom-footer__grampus a {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .bottom-footer__grampus a {
    font-size: 1.125rem;
  }
}
@media (min-width: 75em) {
  .bottom-footer__grampus a {
    margin-left: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (margin-left: clamp( 0.5625rem , 0.3579545455rem  +  1.0227272727vw , 1.125rem )) {
    .bottom-footer__grampus a {
      margin-left: clamp( 0.5625rem , 0.3579545455rem  +  1.0227272727vw , 1.125rem );
    }
  }
  @supports not (margin-left: clamp( 0.5625rem , 0.3579545455rem  +  1.0227272727vw , 1.125rem )) {
    .bottom-footer__grampus a {
      margin-left: calc(0.5625rem + 0.5625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .bottom-footer__grampus a {
    margin-left: 0.5625rem;
  }
}
@media (any-hover: hover) {
  .bottom-footer__grampus a:hover {
    color: #6096DE;
  }
}
.intro {
  border-bottom: 1px solid #EDE0D5;
  overflow: hidden;
}
.body-intro {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .body-intro {
    margin: 0px auto;
  }
}
@media (max-width: 991.98px) {
  .body-intro {
    justify-content: space-between;
  }
}
@media (max-width: 767.98px) {
  .body-intro {
    flex-direction: column-reverse;
  }
}
.body-intro__inner {
  flex: 0 0 34.4%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 991.98px) {
  .body-intro__inner {
    flex: 0 0 50%;
  }
}
.body-intro__title {
  font-family: "Sweet Mavka Script";
  color: #6096DE;
}
@media (min-width: 120em) {
  .body-intro__title {
    font-size: 5.375rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (font-size: clamp( 2.6875rem , 2.15rem  +  2.6875vw , 5.375rem )) {
    .body-intro__title {
      font-size: clamp( 2.6875rem , 2.15rem  +  2.6875vw , 5.375rem );
    }
  }
  @supports not (font-size: clamp( 2.6875rem , 2.15rem  +  2.6875vw , 5.375rem )) {
    .body-intro__title {
      font-size: calc(2.6875rem + 2.6875 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .body-intro__title {
    font-size: 2.6875rem;
  }
}
@media (min-width: 120em) {
  .body-intro__title {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (margin-bottom: clamp( 0.3125rem , 0rem  +  1.5625vw , 1.875rem )) {
    .body-intro__title {
      margin-bottom: clamp( 0.3125rem , 0rem  +  1.5625vw , 1.875rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.3125rem , 0rem  +  1.5625vw , 1.875rem )) {
    .body-intro__title {
      margin-bottom: calc(0.3125rem + 1.5625 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .body-intro__title {
    margin-bottom: 0.3125rem;
  }
}
.body-intro__subtitle {
  color: #464D58;
  font-weight: 300;
  line-height: 150%;
}
@media (min-width: 120em) {
  .body-intro__subtitle {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (margin-bottom: clamp( 0.625rem , 0.25rem  +  1.875vw , 2.5rem )) {
    .body-intro__subtitle {
      margin-bottom: clamp( 0.625rem , 0.25rem  +  1.875vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.625rem , 0.25rem  +  1.875vw , 2.5rem )) {
    .body-intro__subtitle {
      margin-bottom: calc(0.625rem + 1.875 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .body-intro__subtitle {
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 120em) {
  .body-intro__subtitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 61.9375em) and (max-width: 120em) {
  @supports (font-size: clamp( 1rem , 0.4666307858rem  +  0.8611410118vw , 1.5rem )) {
    .body-intro__subtitle {
      font-size: clamp( 1rem , 0.4666307858rem  +  0.8611410118vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.4666307858rem  +  0.8611410118vw , 1.5rem )) {
    .body-intro__subtitle {
      font-size: calc(1rem + 0.5 * (100vw - 61.9375rem) / 58.0625);
    }
  }
}
@media (max-width: 991.98px) {
  .body-intro__subtitle {
    font-size: 1rem;
  }
}
.body-intro__top {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body-intro__bottom {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 767.98px) {
  .body-intro__bottom {
    margin-top: 25px;
  }
}
.body-intro__bottom .h6 {
  font-weight: bold;
  line-height: 140%;
  text-transform: uppercase;
}
@media (min-width: 120em) {
  .body-intro__bottom .h6 {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (font-size: clamp( 0.75rem , 0.7rem  +  0.25vw , 1rem )) {
    .body-intro__bottom .h6 {
      font-size: clamp( 0.75rem , 0.7rem  +  0.25vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.7rem  +  0.25vw , 1rem )) {
    .body-intro__bottom .h6 {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .body-intro__bottom .h6 {
    font-size: 0.75rem;
  }
}
.body-intro__bottom .h6:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.body-intro__bottom .p2 {
  color: #464D58;
}
@media (min-width: 120em) {
  .body-intro__bottom .p2 {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  @supports (font-size: clamp( 0.75rem , 0.7rem  +  0.25vw , 1rem )) {
    .body-intro__bottom .p2 {
      font-size: clamp( 0.75rem , 0.7rem  +  0.25vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.7rem  +  0.25vw , 1rem )) {
    .body-intro__bottom .p2 {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 100);
    }
  }
}
@media (max-width: 20em) {
  .body-intro__bottom .p2 {
    font-size: 0.75rem;
  }
}
.body-intro__bottom::before {
  content: "";
  position: absolute;
  background-color: #EDE0D5;
  height: 0.0625rem;
  width: 150%;
  top: 0;
  left: -27%;
}
@media (max-width: 767.98px) {
  .body-intro__bottom::before {
    width: 110%;
    left: -5%;
  }
}
.body-intro__sliders {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}
@media (min-width: 120em) {
  .body-intro__sliders {
    margin-left: 6.25rem;
  }
}
@media (min-width: 75em) and (max-width: 120em) {
  @supports (margin-left: clamp( 0.00000625rem , -10.41665rem  +  13.888875vw , 6.25rem )) {
    .body-intro__sliders {
      margin-left: clamp( 0.00000625rem , -10.41665rem  +  13.888875vw , 6.25rem );
    }
  }
  @supports not (margin-left: clamp( 0.00000625rem , -10.41665rem  +  13.888875vw , 6.25rem )) {
    .body-intro__sliders {
      margin-left: calc(0.00000625rem + 6.25 * (100vw - 75rem) / 45);
    }
  }
}
@media (max-width: 991.98px) {
  .body-intro__sliders {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 767.98px) {
  .body-intro__sliders {
    width: 100%;
  }
}
.body-intro__slider-side {
  max-width: 268.5px;
  aspect-ratio: 285/446;
}
@media (max-width: 91.25em) {
  .body-intro__slider-side {
    max-width: 200px;
  }
}
@media (max-width: 75em) {
  .body-intro__slider-side {
    max-width: 150px;
  }
}

.slide-body-intro__item img {
  max-width: 100%;
}

.intro-pagination {
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: absolute;
  bottom: 40px !important;
  left: 50% !important;
  transform: translate(-50%, 0px);
}

.body-intro__swiper-side-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 35px;
  flex-direction: column;
  position: relative;
  margin-left: auto;
}
@media (max-width: 91.25em) {
  .body-intro__swiper-side-wrapper {
    margin: 0px auto;
    padding-right: 0;
  }
}
@media (max-width: 991.98px) {
  .body-intro__swiper-side-wrapper {
    display: none;
  }
}

.body-intro__slider-main-wrapper {
  position: relative;
  z-index: 2;
  max-height: 800px;
  max-width: 555px;
}
@media (max-width: 91.25em) {
  .body-intro__slider-main-wrapper {
    max-width: 450px;
  }
}
@media (max-width: 75em) {
  .body-intro__slider-main-wrapper {
    max-width: 350px;
  }
}
@media (max-width: 767.98px) {
  .body-intro__slider-main-wrapper {
    max-width: 100%;
  }
}
.body-intro__slider-main-wrapper .slide-body-intro {
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 767.98px) {
  .body-intro__slider-main-wrapper .slide-body-intro {
    max-height: 800px;
  }
}
@media (min-width: 767.98px) {
  .body-intro__slider-main-wrapper .slide-body-intro__item {
    min-height: 100%;
    aspect-ratio: 590/849;
    max-height: 800px;
  }
}
.body-intro__slider-main-wrapper .slide-body-intro__item img {
  max-width: 100%;
}
@media (min-width: 767.98px) {
  .body-intro__slider-main-wrapper .slide-body-intro__item img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 767.98px) {
  .body-intro__slider-main-wrapper .slide-body-intro__item img {
    max-height: 50vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 300px;
  }
}
.body-intro__slider-main-wrapper .swiper-buttons {
  bottom: 90px;
  right: -55px;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 75em) {
  .body-intro__slider-main-wrapper .swiper-buttons {
    right: -45px;
  }
}
@media (max-width: 991.98px) {
  .body-intro__slider-main-wrapper .swiper-buttons {
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, 0px);
  }
}

.body-intro__swiper-side-bg {
  position: absolute;
  bottom: 80px;
}
.body-intro__swiper-side-bg img {
  max-width: 388px;
}
@media (max-width: 91.25em) {
  .body-intro__swiper-side-bg img {
    max-width: 300px;
  }
}
@media (max-width: 75em) {
  .body-intro__swiper-side-bg img {
    max-width: 250px;
  }
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1.55fr;
  border-bottom: 1px solid #EDE0D5;
}
@media (max-width: 480.98px) {
  .about__container {
    display: flex;
    flex-direction: column;
  }
}
.about__title {
  position: relative;
  width: 100%;
  line-height: 1.4;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: calc((100vw - 1630px) / 2);
}
@media (min-width: 120em) {
  .about__title {
    padding-right: 3.125rem;
  }
}
@media (min-width: 61.9375em) and (max-width: 120em) {
  @supports (padding-right: clamp( 1.5625rem , -0.1042787944rem  +  2.691065662vw , 3.125rem )) {
    .about__title {
      padding-right: clamp( 1.5625rem , -0.1042787944rem  +  2.691065662vw , 3.125rem );
    }
  }
  @supports not (padding-right: clamp( 1.5625rem , -0.1042787944rem  +  2.691065662vw , 3.125rem )) {
    .about__title {
      padding-right: calc(1.5625rem + 1.5625 * (100vw - 61.9375rem) / 58.0625);
    }
  }
}
@media (min-width: 120em) {
  .about__title {
    padding-top: 6.25rem;
  }
}
@media (min-width: 30.0625em) and (max-width: 120em) {
  @supports (padding-top: clamp( 3.125rem , 2.080437804rem  +  3.4746351633vw , 6.25rem )) {
    .about__title {
      padding-top: clamp( 3.125rem , 2.080437804rem  +  3.4746351633vw , 6.25rem );
    }
  }
  @supports not (padding-top: clamp( 3.125rem , 2.080437804rem  +  3.4746351633vw , 6.25rem )) {
    .about__title {
      padding-top: calc(3.125rem + 3.125 * (100vw - 30.0625rem) / 89.9375);
    }
  }
}
@media (min-width: 120em) {
  .about__title {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 30.0625em) and (max-width: 120em) {
  @supports (padding-bottom: clamp( 3.125rem , 2.080437804rem  +  3.4746351633vw , 6.25rem )) {
    .about__title {
      padding-bottom: clamp( 3.125rem , 2.080437804rem  +  3.4746351633vw , 6.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 3.125rem , 2.080437804rem  +  3.4746351633vw , 6.25rem )) {
    .about__title {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 30.0625rem) / 89.9375);
    }
  }
}
@media (min-width: 480.98px) {
  .about__title {
    border-right: 1px solid #EDE0D5;
  }
}
@media (max-width: 103.75em) {
  .about__title {
    padding-left: 15px;
  }
}
@media (max-width: 991.98px) {
  .about__title {
    padding-right: 15px;
  }
}
@media (max-width: 480.98px) {
  .about__title {
    border-bottom: 1px solid #EDE0D5;
    padding: 15px;
  }
  .about__title p {
    text-align: center;
  }
}
.about__title-bg {
  margin-top: 25px;
}
.about__title-bg img {
  max-width: 140px;
}
@media (max-width: 480.98px) {
  .about__title-bg {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    margin-top: 0;
    left: 50%;
    transform: translate(-50%, 0px);
  }
  .about__title-bg img {
    max-width: 100%;
  }
}

.body-about {
  display: flex;
}
@media (min-width: 120em) {
  .body-about {
    gap: 4.0625rem;
  }
}
@media (min-width: 61.9375em) and (max-width: 120em) {
  @supports (gap: clamp( 1.875rem , -0.4584903122rem  +  3.7674919268vw , 4.0625rem )) {
    .body-about {
      gap: clamp( 1.875rem , -0.4584903122rem  +  3.7674919268vw , 4.0625rem );
    }
  }
  @supports not (gap: clamp( 1.875rem , -0.4584903122rem  +  3.7674919268vw , 4.0625rem )) {
    .body-about {
      gap: calc(1.875rem + 2.1875 * (100vw - 61.9375rem) / 58.0625);
    }
  }
}
@media (min-width: 120em) {
  .body-about {
    padding-left: 5.3125rem;
  }
}
@media (min-width: 61.9375em) and (max-width: 120em) {
  @supports (padding-left: clamp( 1.5625rem , -2.4377691066rem  +  6.4585575888vw , 5.3125rem )) {
    .body-about {
      padding-left: clamp( 1.5625rem , -2.4377691066rem  +  6.4585575888vw , 5.3125rem );
    }
  }
  @supports not (padding-left: clamp( 1.5625rem , -2.4377691066rem  +  6.4585575888vw , 5.3125rem )) {
    .body-about {
      padding-left: calc(1.5625rem + 3.75 * (100vw - 61.9375rem) / 58.0625);
    }
  }
}
@media (min-width: 120em) {
  .body-about {
    padding-top: 6.25rem;
  }
}
@media (min-width: 30.0625em) and (max-width: 120em) {
  @supports (padding-top: clamp( 3.125rem , 2.080437804rem  +  3.4746351633vw , 6.25rem )) {
    .body-about {
      padding-top: clamp( 3.125rem , 2.080437804rem  +  3.4746351633vw , 6.25rem );
    }
  }
  @supports not (padding-top: clamp( 3.125rem , 2.080437804rem  +  3.4746351633vw , 6.25rem )) {
    .body-about {
      padding-top: calc(3.125rem + 3.125 * (100vw - 30.0625rem) / 89.9375);
    }
  }
}
@media (min-width: 120em) {
  .body-about {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 30.0625em) and (max-width: 120em) {
  @supports (padding-bottom: clamp( 3.125rem , 2.080437804rem  +  3.4746351633vw , 6.25rem )) {
    .body-about {
      padding-bottom: clamp( 3.125rem , 2.080437804rem  +  3.4746351633vw , 6.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 3.125rem , 2.080437804rem  +  3.4746351633vw , 6.25rem )) {
    .body-about {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 30.0625rem) / 89.9375);
    }
  }
}
@media (max-width: 991.98px) {
  .body-about {
    padding-left: 25px;
    padding-right: 15px;
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .body-about {
    padding-left: 15px;
  }
}
@media (max-width: 480.98px) {
  .body-about {
    padding: 25px 15px;
  }
}
.body-about__title {
  font-family: "Sweet Mavka Script";
  color: #6096DE;
}
@media (min-width: 75em) {
  .body-about__title {
    font-size: 1.625rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.125rem , 0.9431818182rem  +  0.9090909091vw , 1.625rem )) {
    .body-about__title {
      font-size: clamp( 1.125rem , 0.9431818182rem  +  0.9090909091vw , 1.625rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 0.9431818182rem  +  0.9090909091vw , 1.625rem )) {
    .body-about__title {
      font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-about__title {
    font-size: 1.125rem;
  }
}
@media (min-width: 75em) {
  .body-about__title {
    margin-bottom: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (margin-bottom: clamp( 0.9375rem , 0.7102272727rem  +  1.1363636364vw , 1.5625rem )) {
    .body-about__title {
      margin-bottom: clamp( 0.9375rem , 0.7102272727rem  +  1.1363636364vw , 1.5625rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.9375rem , 0.7102272727rem  +  1.1363636364vw , 1.5625rem )) {
    .body-about__title {
      margin-bottom: calc(0.9375rem + 0.625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-about__title {
    margin-bottom: 0.9375rem;
  }
}
.body-about__text {
  font-family: "Ubuntu";
}
@media (min-width: 75em) {
  .body-about__text {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (margin-bottom: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .body-about__text {
      margin-bottom: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .body-about__text {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-about__text {
    margin-bottom: 0.9375rem;
  }
}
.body-about__text p {
  color: #464D58;
  line-height: 1.5;
}
@media (min-width: 75em) {
  .body-about__text p {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
    .body-about__text p {
      font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
    .body-about__text p {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-about__text p {
    font-size: 0.875rem;
  }
}
.body-about__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (max-width: 991.98px) {
  .body-about__photo {
    display: none;
  }
}
@media (max-width: 81.25em) {
  .body-about__photo img {
    max-width: 280px;
  }
}

@media (min-width: 75em) {
  .products {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-top: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
    .products {
      padding-top: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
    }
  }
  @supports not (padding-top: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
    .products {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .products {
    padding-top: 3.125rem;
  }
}
.products__top {
  display: flex;
  align-items: center;
}
@media (min-width: 75em) {
  .products__top {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (margin-bottom: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
    .products__top {
      margin-bottom: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
    .products__top {
      margin-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .products__top {
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 991.98px) {
  .products__top {
    flex-direction: column;
    gap: 25px;
  }
}
.products__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
@media (min-width: 75em) {
  .products__buttons {
    gap: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .products__buttons {
      gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .products__buttons {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .products__buttons {
    gap: 0.625rem;
  }
}
.products__button {
  background-color: #fff;
  border: 2px solid #C19570;
  color: #464D58;
}
@media (any-hover: hover) {
  .products__button:hover {
    background-color: #C19570;
    color: #fff;
  }
}
.products__button.active {
  background-color: #C19570;
  color: #fff;
}
.products__showmore {
  margin: 0px auto;
}

.body-products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media (min-width: 120em) {
  .body-products {
    gap: 3.125rem;
  }
}
@media (min-width: 61.9375em) and (max-width: 120em) {
  @supports (gap: clamp( 0.9375rem , -1.3959903122rem  +  3.7674919268vw , 3.125rem )) {
    .body-products {
      gap: clamp( 0.9375rem , -1.3959903122rem  +  3.7674919268vw , 3.125rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , -1.3959903122rem  +  3.7674919268vw , 3.125rem )) {
    .body-products {
      gap: calc(0.9375rem + 2.1875 * (100vw - 61.9375rem) / 58.0625);
    }
  }
}
@media (min-width: 75em) {
  .body-products {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (margin-bottom: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
    .body-products {
      margin-bottom: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
    .body-products {
      margin-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-products {
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 991.98px) {
  .body-products {
    gap: 15px;
  }
}
@media (max-width: 75em) {
  .body-products {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 53.125em) {
  .body-products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 36.25em) {
  .body-products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 26.25em) {
  .body-products {
    display: flex;
    flex-direction: column;
  }
}
.body-products__item {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .body-products__item:hover .item-products__name {
    color: #6096DE;
  }
}
.body-products__item--big {
  border: 1px solid #EDE0D5;
  flex-direction: row;
  grid-column: span 2;
}
@media (max-width: 26.25em) {
  .body-products__item--big {
    flex-direction: column;
  }
}
@media (any-hover: hover) {
  .body-products__item--big:hover {
    border: 1px solid #6096DE;
  }
}
.body-products__item--big .item-products__body {
  text-align: center;
}
@media (min-width: 75em) {
  .body-products__item--big .item-products__body {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-top: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
    .body-products__item--big .item-products__body {
      padding-top: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem );
    }
  }
  @supports not (padding-top: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
    .body-products__item--big .item-products__body {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-products__item--big .item-products__body {
    padding-top: 1.5625rem;
  }
}
@media (min-width: 75em) {
  .body-products__item--big .item-products__body {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-bottom: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
    .body-products__item--big .item-products__body {
      padding-bottom: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
    .body-products__item--big .item-products__body {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-products__item--big .item-products__body {
    padding-bottom: 1.5625rem;
  }
}
@media (min-width: 75em) {
  .body-products__item--big .item-products__body {
    padding-right: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-right: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .body-products__item--big .item-products__body {
      padding-right: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
  }
  @supports not (padding-right: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .body-products__item--big .item-products__body {
      padding-right: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-products__item--big .item-products__body {
    padding-right: 1.25rem;
  }
}
@media (min-width: 75em) {
  .body-products__item--big .item-products__body {
    padding-left: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-left: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .body-products__item--big .item-products__body {
      padding-left: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
  }
  @supports not (padding-left: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .body-products__item--big .item-products__body {
      padding-left: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-products__item--big .item-products__body {
    padding-left: 1.25rem;
  }
}
.body-products__item--big .item-products__body .item-products__name {
  flex: 1 1 auto;
  font-weight: 500;
  margin: 0;
  padding: 0;
  border: none;
}
.body-products__item--big .item-products__body .item-products__button {
  width: 100%;
  margin: 0px auto;
}
.body-products__item--big .item-products__body .item-products__price {
  align-items: center;
  justify-content: center;
}
@media (min-width: 75em) {
  .body-products__item--big .item-products__body .item-products__price {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (margin-bottom: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .body-products__item--big .item-products__body .item-products__price {
      margin-bottom: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .body-products__item--big .item-products__body .item-products__price {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .body-products__item--big .item-products__body .item-products__price {
    margin-bottom: 0.9375rem;
  }
}
.body-products__item--small .item-products__bottom {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  align-items: flex-end;
}
.body-products__item--small .item-products__price {
  flex-direction: column-reverse;
}

.item-products__img {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.item-products__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 26.25em) {
  .item-products__img img {
    max-height: 300px;
  }
}
.item-products__hint {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  z-index: 2;
  bottom: 15px;
  left: 15px;
  background-color: #C19570;
  color: #fff;
  border-radius: 50%;
  font-weight: 500;
  font-size: 24px;
}
.item-products__body {
  display: flex;
  flex-direction: column;
}
.item-products__name {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EDE0D5;
  transition: all 0.3s ease 0s;
}
.item-products__price {
  display: flex;
}
@media (min-width: 75em) {
  .item-products__price {
    gap: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (gap: clamp( 0.3125rem , 0.0852272727rem  +  1.1363636364vw , 0.9375rem )) {
    .item-products__price {
      gap: clamp( 0.3125rem , 0.0852272727rem  +  1.1363636364vw , 0.9375rem );
    }
  }
  @supports not (gap: clamp( 0.3125rem , 0.0852272727rem  +  1.1363636364vw , 0.9375rem )) {
    .item-products__price {
      gap: calc(0.3125rem + 0.625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .item-products__price {
    gap: 0.3125rem;
  }
}
.item-products__price--new {
  font-weight: 500;
  color: #18212E;
}
.item-products__price--old {
  text-decoration: line-through;
  color: #464D58;
}
.tags-products {
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
}
.tags-products__item {
  font-family: "Ubuntu";
  font-size: 10px;
  font-weight: 700;
  padding: 5px 10px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
  white-space: nowrap;
}
.tags-products__item.purple {
  background-color: #A65EDE;
}
.tags-products__item.red {
  background-color: #DE665E;
}
.tags-products__item.yellow {
  background-color: #DEA65E;
}