@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Onest:regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:900&display=swap);

@font-face {
    font-family: "Sweet Mavka Script";
    src: url("../fonts/Sweet Mavka Script.ttf");
}

$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 480.98px;

$bgLight: #F9F5F1;
$bgDark: #EDE0D5;
$primary: #6096DE;
$hover: #AAC4E7;
$head: #18212E;
$mainText: #464D58;
$cards: #fff;
$strokeLight: #DDC5B1;
$accent: #C19570;

body {
    font-family: "Onest";
    line-height: 1.2;

    &.lock {
        overflow: hidden;
    }
}

main {
    flex: 1 1 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.h1 {
    @include adaptiveValue("font-size", 80, 40, 1920, 320);
}

.h2 {
    @include adaptiveValue("font-size", 60, 30,
        1920,
        320);
}

.h3 {
    @include adaptiveValue("font-size", 46, 23,
        1920,
        320);
}

.h4 {
    @include adaptiveValue("font-size", 34, 20,
        1920,
        320);
}

.h5 {
    @include adaptiveValue("font-size", 24, 18,
        1920,
        320);
}

.h6 {
    @include adaptiveValue("font-size", 16, 14,
        1920,
        320);
}

.p1 {
    @include adaptiveValue("font-size", 24, 20,
        1920,
        320);
    font-family: "Ubuntu";
}

.p2 {
    @include adaptiveValue("font-size", 16, 14,
        1920,
        320);
    font-family: "Ubuntu";
}

.p3 {
    @include adaptiveValue("font-size", 14, 12,
        1920,
        320);
    font-family: "Ubuntu";
}

.container {
    max-width: 1660px;
    padding: 0 15px;
    margin: 0px auto;
}

.block {
    @include adaptiveValue("padding-bottom", 100, 50);
}

.button-arrow {
    font-weight: 700;
    color: $head;
    @include adaptiveValue("font-size", 16, 14);
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease 0s;

    svg path {
        stroke: $head;
        transition: all 0.3s ease 0s;
    }

    @media (any-hover: hover) {
        &:hover {
            color: $hover;
            gap: 35px;

            svg path {
                stroke: $hover;
            }
        }
    }
}

.button-main {
    padding: 0px 35px;
    background-color: $primary;
    color: #fff;
    transition: all 0.3s ease 0s;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: fit-content;
    @include adaptiveValue("font-size", 14, 12);
    cursor: pointer;
    font-family: "Ubuntu";
    font-weight: bold;
    text-transform: uppercase;

    @media (max-width: em(1150)) {
        padding: 0px 30px;
    }

    @media (max-width:$mobile) {
        padding: 0px 25px;
    }

    @media (max-width:$mobileSmall) {
        padding: 0px 20px;
    }

    @media (any-hover: hover) {
        &:hover {
            background-color: $hover;
        }
    }

    &.bordered {
        background-color: #fff;
        color: $primary;
        border: 1px solid $primary;

        @media (any-hover: hover) {
            &:hover {
                background-color: $primary;
                color: #fff;
            }
        }
    }
}

.swiper-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.swiper-pagination-custom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.swiper-pagination-bullets {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.swiper-pagination-bullet {
    height: 8px;
    width: 8px;
    opacity: 1;
    margin: 0 !important;
    transition: all 0.3s ease 0s;
    background-color: $bgDark;
}

.swiper-pagination-bullet-active {
    background-color: $accent;
}

.swiper-btn-prev {
    svg {
        transform: rotate(-180deg);
    }
}

.swiper-btn {
    height: 55px;
    width: 55px;
    background-color: #C19570;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: $bgDark;
        }
    }

    @media (max-width: em(1200)) {
        height: 45px;
        width: 45px;
    }
}

.swiper-buttons {
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.swiper-controls {}

.swiper-pagination {}

.swiper-button-disabled {
    background-color: $bgDark;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    position: relative;
}

.swiper-vertical {
    .swiper-wrapper {
        flex-direction: column;
    }
}

.swiper-autoheight {
    .swiper-wrapper {
        align-items: flex-start;
    }
}

.swiper-initialized {
    .swiper-slide {
        flex-shrink: 0;
    }
}

.swiper-android {

    .swiper-slide,
    .swiper-wrapper {
        transform: translate3d(0px, 0, 0);
    }
}

.swiper-button-lock {
    display: none !important;
}

.block-title {
    @include adaptiveValue("font-size", 60, 30);
    color: $head;
}

.modal {
    display: none;
    max-width: 790px;
    position: relative;
    width: 100%;

    .privacy-policy {

        a {
            color: $primary;
            text-decoration: underline;
            text-decoration-skip-ink: none;
        }
    }

    button {
        margin-left: auto;
    }
}

.modal__bottom {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("gap", 165, 30);
    margin-top: 15px;
}



.input {
    &:not(:last-child) {
        margin-bottom: rem(15);
    }
}

.fancybox__content {
    @include adaptiveValue("padding-bottom", 90, 25);
    @include adaptiveValue("padding-top", 80, 25);
    @include adaptiveValue("padding-right", 100, 15);
    @include adaptiveValue("padding-left", 100, 15);
    color: $mainText;

    input {
        border: 1px solid $hover;
        padding: 18px 25px;
        border-radius: 30px;
        color: $mainText;
        width: 100%;
        outline: none;

        &::placeholder {
            color: $mainText;
        }

        &:focus {
            color: $primary;
            border: 1px solid $primary;
        }
    }
}

.modal__close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;

    @media (max-width:$mobile) {
        right: 15px;
        top: 15px;
    }
}

.modal-done {
    button {
        margin-top: 30px;
    }
}

.modal__title {
    color: $head;
    @include adaptiveValue("margin-bottom", 40, 20);
    text-transform: uppercase;
}

.modal__text {
    font-weight: 300;
}

.fancybox__backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.socials {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 4;
    right: 40px;
    top: 50%;
    transform: translate(0px, -50%);

    @media (max-width: em(1460)) {
        right: 15px;
        opacity: 0.7;
    }

    @media (max-width:$tablet) {
        display: none;
    }

    // .socials__item
    &__item {
        height: rem(55);
        width: rem(55);
        border-radius: 50%;
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.1s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                background-color: $hover;
            }
        }
    }
}