

.icon-menu {
    display: none;

    @media (max-width: $tablet) {
        display: block;
        position: relative;
        width: rem(30);
        height: rem(18);
        cursor: pointer;
        z-index: 6;

        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: $primary;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: calc(50% - rem(1));
        }

        .menu-open & {
            span {
                width: 0;
            }

            &::before,
            &::after {
                background-color: #fff;
            }

            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }

            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
    }
}



.menu {
    &__body {
        z-index: 5;
        position: relative;
        display: none;
        padding-top: 70px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: rem(70);
            width: 100%;
            background-color: $primary;
        }

        @media (max-width: $tablet) {
            position: fixed;
            width: 80%;
            height: 100%;
            top: 0;
            left: 100%;
            display: flex;
            text-align: right;
            justify-content: center;
            flex-direction: column;
            background-color: $primary;
            transition: left 0.3s ease 0s;

            .menu-open & {
                left: 20%;
            }
        }
    }

    &__list {
        color: #fff;
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 30, 25, 991, 320);
        @include adaptiveValue("font-size", 22, 18, 991, 320);
        overflow-y: auto;
        padding: 15px;
    }
}


