.intro {
    border-bottom: 1px solid $bgDark;
    overflow: hidden;

    // .intro__body
    &__body {}
}

.container {}

.body-intro {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media (max-width:$tablet) {
        margin: 0px auto;
    }

    @media (max-width:$tablet) {
        justify-content: space-between;
    }

    @media (max-width:$mobile) {
        flex-direction: column-reverse;
    }

    // .body-intro__inner
    &__inner {
        flex: 0 0 34.4%;
        display: flex;
        flex-direction: column;

        @media (max-width:$tablet) {
            flex: 0 0 50%;
        }
    }

    // .body-intro__title
    &__title {
        font-family: "Sweet Mavka Script";
        color: $primary;
        @include adaptiveValue("font-size", 86, 43, 1920, 320);
        @include adaptiveValue("margin-bottom", 30, 5, 1920, 320);
    }

    // .body-intro__subtitle
    &__subtitle {
        color: $mainText;
        font-weight: 300;
        line-height: 150%;
        @include adaptiveValue("margin-bottom", 40, 10, 1920, 320);
        @include adaptiveValue("font-size", 24, 16, 1920, 991);

        @media (max-width:$tablet) {
            font-size: rem(16);
        }
    }

    // .body-intro__top
    &__top {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // .body-intro__bottom
    &__bottom {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;

        @media (max-width:$mobile) {
            margin-top: 25px;
        }

        .h6 {
            font-weight: bold;
            line-height: 140%;
            text-transform: uppercase;
            @include adaptiveValue("font-size", 16, 12, 1920, 320);

            &:not(:last-child) {
                margin-bottom: rem(5);
            }
        }

        .p2 {
            @include adaptiveValue("font-size", 16, 12, 1920, 320);
            color: $mainText;
        }

        &::before {
            content: '';
            position: absolute;
            background-color: $bgDark;
            height: rem(1);
            width: 150%;
            top: 0;
            left: -27%;

            @media (max-width:$mobile) {
                width: 110%;
                left: -5%;
            }
        }
    }

    &__sliders {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        @include adaptiveValue("margin-left", 100, 0, 1920, 1200);
        gap: 20px;

        @media (max-width:$tablet) {
            width: fit-content;
        }

        @media (max-width:$mobile) {
            width: 100%;
            height: 50vh;
        }
    }


    // .body-intro__slider-main
    &__slider-main {}

    // .body-intro__swiper
    &__swiper {}

    // .body-intro__slide
    &__slide {}

    // .body-intro__slider-side
    &__slider-side {
        max-width: 268.5px;
        aspect-ratio: 285 / 446;

        @media (max-width: em(1460)) {
            max-width: 200px;
        }

        @media (max-width: em(1200)) {
            max-width: 150px;
        }
    }

    // .body-intro__slide
    &__slide {}
}

.slide-body-intro {

    // .slide-body-intro__item
    &__item {
        img {
            max-width: 100%;
        }
    }
}

.intro-pagination {
    max-width: fit-content;
    position: absolute;
    bottom: 40px !important;
    left: 50% !important;
    transform: translate(-50%, 0px);
}

.body-intro__swiper-side-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 35px;
    flex-direction: column;
    position: relative;
    margin-left: auto;

    @media (max-width: em(1460)) {
        margin: 0px auto;
        padding-right: 0;
    }

    @media (max-width:$tablet) {
        display: none;
    }
}

.body-intro__slider-main-wrapper {
    position: relative;
    z-index: 2;
    max-height: 800px;
    max-width: 555px;

    @media (max-width: em(1460)) {
        max-width: 450px;
    }

    @media (max-width: em(1200)) {
        max-width: 350px;
    }

    @media (max-width:$mobile) {
        max-width: 100%;
    }

    .slide-body-intro {
        @media (min-width:$mobile) {
            max-height: 800px;
        }

        width: fit-content;
    }

    .slide-body-intro__item {

        @media (min-width:$mobile) {
            min-height: 100%;
            aspect-ratio: 590 / 849;
            max-height: 800px;
        }

        img {
            @media (min-width:$mobile) {
                width: 100%;
                height: 100%;
            }

            max-width: 100%;
        }
    }

    .swiper-buttons {
        bottom: 90px;
        right: -55px;
        width: fit-content;

        @media (max-width: em(1200)) {
            right: -45px;
        }

        @media (max-width:$tablet) {
            left: 50%;
            bottom: 15px;
            transform: translate(-50%, 0px);
        }
    }
}

.body-intro__swiper-side-bg {
    position: absolute;
    bottom: 80px;

    img {
        max-width: 388px;

        @media (max-width: em(1460)) {
            max-width: 300px;
        }

        @media (max-width: em(1200)) {
            max-width: 250px;
        }
    }
}