.production {
    @include adaptiveValue("padding-top", 100, 50);
    border-top: 1px solid $bgDark;
    overflow: hidden;
}

.body-production {
    display: grid;
    grid-template-columns: 35.5% 57%;
    @include adaptiveValue("gap", 140, 70, 1920, 991);

    @media (max-width:$tablet) {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    // .body-production__img
    &__img {
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
        }
    }
}

.body-production__swiper-wrapper {
    position: relative;
    z-index: 2;

    .swiper-buttons {
        bottom: 0;
        left: -56px;

        @media (max-width: em(1200)) {
            left: -0px;
        }

        @media (max-width:$tablet) {
            right: 0px;
            width: fit-content;
            height: fit-content;
            margin-left: auto;
        }
    }
}

.inner-production {
    display: flex;
    flex-direction: column;

    // .inner-production__title
    &__title {
        text-transform: uppercase;
        @include adaptiveValue("margin-bottom", 40, 20, 1920, 991);
        @include adaptiveValue("font-size", 60, 40, 1920, 991);

        @media (max-width:$tablet) {
            @include adaptiveValue("font-size", 40, 30, 991, 320);
            margin-bottom: 20px;
        }
    }

    // .inner-production__text
    &__text {
        color: $mainText;
        line-height: 1.5;
        flex: 1 1 auto;

        @media (min-width:$tablet) {
            max-width: 560px;
        }
    }

    // .inner-production__slider
    &__slider {
        max-width: 580px;
        position: relative;

        @media (max-width:$tablet) {
            display: none;
        }
    }

    // .inner-production__img
    &__img {
        img {
            max-width: 100%;

        }
    }
}

.inner-production__swiper-wrapper {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -25%;
        height: calc(100% + 40px);
        width: 125vw;
        background-color: $bgLight;

        @media (max-width: em(1200)) {
            height: calc(100% + 20px);
        }

        @media (max-width:$tablet) {
            display: none;
        }
    }
}

.info-production {
    @include adaptiveValue("padding-top", 100, 50);
    @include adaptiveValue("padding-bottom", 100, 50);
    background-color: $bgLight;

    &__body {
        display: grid;
        grid-template-columns: 35.5% 57%;
        @include adaptiveValue("gap", 140, 70, 1920, 991);

        @media (max-width:$tablet) {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        @media (max-width:$mobile) {
            display: flex;
            flex-direction: column;
        }
    }

    // .info-production__item
    &__item {}

    // .info-production__title
    &__title {
        color: $accent;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    // .info-production__text
    &__text {
        color: $mainText;
        line-height: 1.5;
    }
}