.production {
    @include adaptiveValue("padding-top", 100, 50);
    border-top: 1px solid $bgDark;
    overflow: hidden;
}

.body-production {
    // display: flex;
    display: grid;
    grid-template-columns: 35.5% 57%;
    @include adaptiveValue("gap", 140, 70, 1920, 991);

    // .body-production__inner
    &__inner {}

    // .body-production__slider
    &__slider {}

    // .body-production__swiper
    &__swiper {}

    // .body-production__slide
    &__slide {}

    // .body-production__img
    &__img {}


}

.body-production__swiper-wrapper {
    position: relative;
    z-index: 2;

    .swiper-buttons {
        bottom: 0;
        left: -56px;
    }
}

.inner-production {
    display: flex;
    flex-direction: column;

    // .inner-production__title
    &__title {
        text-transform: uppercase;
        @include adaptiveValue("margin-bottom", 40, 20);
    }

    // .inner-production__text
    &__text {
        color: $mainText;
        line-height: 1.5;
        max-width: 560px;
        flex: 1 1 auto;
    }

    // .inner-production__slider
    &__slider {
        max-width: 580px;
        position: relative;


    }

    // .inner-production__swiper
    &__swiper {}

    // .inner-production__slide
    &__slide {}

    // .inner-production__img
    &__img {}
}

.inner-production__swiper-wrapper {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: calc((100vw - 1630px) / -2);
        height: calc(100% + 40px);
        width: 100vw;
        background-color: $bgLight;
    }
}

.info-production {
    @include adaptiveValue("padding-top", 100, 50);
    @include adaptiveValue("padding-bottom", 100, 50);
    background-color: $bgLight;

    &__body {
        display: grid;
        grid-template-columns: 35.5% 57%;
        @include adaptiveValue("gap", 140, 70, 1920, 991);
    }

    // .info-production__item
    &__item {}

    // .info-production__title
    &__title {
        color: $accent;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    // .info-production__text
    &__text {
        color: $mainText;
        line-height: 1.5;
    }
}